:root{
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-white: #FFFFFF;
  --color-grey-1: #F8F9FA;
  --color-grey-2: #E9ECEF;
  --color-grey-3: #868E96;
}

.form-button-add{
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  padding: 14px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: 500;
}

.form-button-add:hover{
  background-color: var(--color-primary-2);
  color: var(--color-grey-1);
}

.filter-button{
  cursor: pointer;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  color: var(--color-grey-3);
  background-color: var(--color-grey-2);
}

.filter-button:hover{
  color: var(--color-grey-1);
  background-color: var(--color-grey-3);
}

.selected, .selected:hover{
  color: var(--color-white);
  background-color: var(--color-primary);
}

.card-button{
  background-color: var(--color-grey-2);
  padding: 7px;
  border: none;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-button:hover{
  background-color: var(--color-grey-3);
}



